@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply bg-primary rounded text-white font-bold px-4 text-xl
}

.image{
  background-image: url("./assets/Dot.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 2rem;
}

input:focus{
  outline: none;
}